* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  
  padding: 0 16px;
}


footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: rgb(10, 9, 9);
}
/*.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
} */

.font-color {
  color:#fff;
}

.container-fluid {
  padding: 3% 15% 3% 15%;
  text-align: center;
}



.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px 0 18px;
}
.nav-link {
  font-size: 1.2rem;
}

#food {
  text-align: center;
  background-color: rgb(255, 0, 76);
  padding: 100px;
  /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvcGuwt3TBVRdCKEpavFyTj-I1jzLviLaTMg&usqp=CAU"); */
}

.card-margin {
  padding-top: 20%;
}

#fashion {
  background-color: #fff;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
