* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}



footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: rgb(10, 9, 9);
}
/*.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
} */

.font-color {
  color:rgb(12, 1, 1);
}

.container-fluid {
  padding: 4% 15% 3% 15%;
  text-align: center;
}



.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px 0 18px;
}
.nav-link {
  font-size: 1.2rem;
}

.head-color {
  color: #fff;
  
  text-align: center;
  text-shadow: 1rem;
  margin-top: 2rem;
}

#food {
  text-align: center;
  background-color: rgb(29, 84, 90);
  padding: 100px;
  margin-top: 2rem;
  position: relative;
  background-size: cover;
  background-position: center;
  background-image: url("https://www.phoenixmarketcity.com/images/dine-homebanner.jpg");
}

.card {
  height: 100%;
  width: 100%;
  object-fit: cover;
 
}

.card-margin {
  padding-top: 20%;
}



#fashion {
  padding: auto;
  background-color: #FF8787;
  padding-bottom: 1rem;
  
}




/* --------------------------------------------- */
.flip-card {
  background-color: transparent;
  
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* .flip-card-front {
  background-color: #bbb;
  color: #fff;
} */

.flip-card-back {
  
  color: white;
  transform: rotateY(180deg);
}


.btn-style {
  margin-left: 50%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(39, 35, 35);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
